@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



/* .marg {
    margin-top: 20px;
}   */

/* .section-particle{
    /* background: linear-gradient(90deg, #fafafa 0%, #eeeeee 100%); */
    /* background: rgb(250,250,250);
  background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(178,224,218,1) 100%); */
   /* background: #000;   */
   /* background: rgb(250,250,250);
  background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(204,237,233,1) 100%);
    opacity: 0.8; 
     */
/* }    */

.description{
    color: #004194;
    padding-left: 45px;
    padding-bottom: 80px;
    font-size: 32px;
    font-family: 'Raleway', sans-serif; 
}

.aboutus{
    color: #004194;
    font-size: 60px;
     padding-bottom: 10px; 
    padding-left: 45px;
    font-family: 'Poppins', sans-serif;
}

 /* .circle{
    opacity: 0.32;
    animation: otation 60s infinite linear;
    
}  */



#particles-js img{
        /* padding-right: 50px; 
        padding-top: 50px; */
        opacity: 0.32;
        margin: 0%;
        animation-name: rotate;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        border-radius: 50%;
        /* background: aliceblue; */
        /* height: 400px;
        width: 400px; */
}

@keyframes rotate{
    from{ transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
    to{ transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); }
}


.mymission{
    font-size: 14px;
    color: black;
    font-family: 'Poppins', sans-serif;
     /* padding-left: 50px; 
     padding-bottom: 50px; */
}

.myvission{
    font-size: 14px;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
}

.innermission{
    padding-bottom: 15px;
    font-size: 30px;
}

.seemore{
    padding-top: 60px;
    padding-left: 50px;
}
.seemore a{
    text-align: center; 
   background-color: #1B48A3;
   color: #FFFFFF;
   font-family: 'Raleway', sans-serif; 
   font-size: 15px;
   padding: 12px 24px;
   text-align: left;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
 } 

/* .innercontent{
    padding-left: 450px;
} */