@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:wght@500&display=swap');


/* .slideshow {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.red-section {
background-color: brown;
min-height: 100vh;
}

.heading {
  background-color: #ccebff;
}

section {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

footer, nav {
  height: 10vh;
  background-color: grey;
}
#home {
  background-image: url('https://res.cloudinary.com/kokkieh/image/upload/v1441711699/building-925757_1920_e7zlcl.jpg');
}
#about {
  background-image: url('https://res.cloudinary.com/kokkieh/image/upload/v1441711721/glass-909264_1920_kj77yx.jpg');
}
#portfolio {
  background-image: url('https://res.cloudinary.com/kokkieh/image/upload/v1441711717/building-922529_1920_icicwy.jpg');
}
#contact {
  background-image: url('https://res.cloudinary.com/kokkieh/image/upload/v1441711695/window-855371_1920_mkw8de.jpg');
} */


html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
   background-color: #54595F; 
   scroll-behavior: smooth;
   /* overflow: hidden; */
}

/* h1{
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center !important;
  letter-spacing: 2px;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
}

h1::before,
h1::after {
  width: 220px;
  height: 1px;
  border: 4px double white;
  content: "";
  display: block;
  margin: 20px auto;
} */

header{
   height: calc(100% - 65px);
  -webkit-appearance: 1500px;
  perspective: 1500px; 
  perspective-origin: center bottom;
}

#myVideo {
  position: absolute;
  /* display: flex;
  flex-direction: row; */
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* margin: auto; */
    min-height: 100vh; 
  max-width: 100%; 
}


.hero{
  position: relative;
  background: #54595F ;
  /* url("https://images.unsplash.com/photo-1495434951808-370bf1154920?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=688&q=80")  */
  /* no-repeat center center; */
  /* background-size: cover; */
  /* max-width: 20px;
  max-height: 34px; */
  overflow: hidden;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  min-height: 100vh; 
  max-width: 100%;
}

.hero .overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0,0) 100%) ;
} 

nav {
  background: #6EC1E4;
  height: 65px;
}

.navbar.fixed {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
}

.sticky-wrapper {
  height: 580px;
  overflow: hidden;
  /* padding: 5px;
    max-width: 20px;
    max-height: 34px;
    transform: translate(40px, 178px);
    top: 50%;
    left: 0px; */
    padding-bottom: 100px;
  background: #ccebff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

nav ul li {
   height: 65px;
  line-height: 65px; 
   padding: 10px 15px; 
  color: #a1a1a1;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  /* text-transform: uppercase; */
}

.navbar {
  overflow: hidden;
  /* // position: fixed;
  // top: 0;
  // float: right; */
}

.navbar a {
  float: right;
  font-size: 16px;
  color: #1B48A3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

 .navbar .active {
  color: #ff3300;
 }

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #1B48A3;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:hover {
  color: #ff3300;
}

.navbar a:hover {
  color: #ff3300;
}

 /* .dropdown: hover .dropbtn {
   color: white;
   background-color: black;
 } */


.dropdown-content {
  display: none;
  position: absolute;
   background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-size: 12px; 
  padding: 12px 18px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #333333;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.heading {
  text-align: left;
  padding-left: 270px;
}
.greeting {
  color: #C4C3EB;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}


h1{
  color: #1B48A3;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

.elementor{
  text-align: left;
   padding-left: 270px;
  /* padding: 4px 30px; */
}

.elementor a {
  background-color: #1B48A3;
  color: #FFFFFF;
  /*  font-family: 'Poppins', sans-serif; */
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* .photo {
    height: 1px;
  width: 1px; 
  padding-left: 350px; 
  opacity: 1;
} */
    /* overflow: visible; */
    /* position: absolute; */
    /* background: transparent;
    padding: 5px;
    max-width: 2px;
    max-height: 2px;
    transform: translate(40px, 178px);
    top: 200%; */


/* section {
  height: 100%;
  width: 100%;
  display: table;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
} */

section{
  min-height: 100vh; 
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down{
  height: 50px;
  width: 30px;
  border: 2px solid rgb(245, 85, 21);
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  border: 2px solid rgb(245, 85, 21); 
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
  top: 30%;
  animation-delay: 3s;
}

.scroll-down::after{
  top: 40%;
  animation-delay: 3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

/* section {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
} */

/* section#item1{
  background: #000a1d;
  font-family: sans-serif;
}

section#item2{
  background: #000a1d;
  background-size: cover;
  font-family: sans-serif;
} */

/* .slidershow {
  min-width: 700px;
  min-height: 400px;
  overflow: hidden;
} */

/* .navigation{
  position: absolute;
   bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
} */

.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #1B48A3;
  background: #1B48A3;
  margin: 6px;
  cursor: pointer;
}

.bar:hover{
 background: rgb(245, 85, 21);
 border: 2px solid #1B48A3;
} 

input[name="r"]{
  position: absolute;
  visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
width: 20%;
transition: 0.6s;
}

.slide img{
width: 100%;
height: 100%;
}

#r1:checked ~ .s1{
   margin-left: 0;
}

#r2:checked ~ .s1{
  margin-left: -20%;
}

#r3:checked ~ .s1{
  margin-left: -40%;
}

/* .slidershow{
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
} */

/* .middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
